/* -----                     ----- */
/* -----  ÉLÉMENTS GÉNÉRAUX  ----- */
/* -----                     ----- */

:root {
  --slider-width: 10px;
}

.mainBackground{
    height : 100%;
    width : 100%;
    background-color : #00144B;
}

@font-face{
  font-family: 'Frankfurt';
  src: url('Frankfurt.ttf');
}

div {
  font-family: Frankfurt;
  color: #FEFEE2;
}


/* -----              ----- */
/* --- menu none/block ---- */
/* -----              ----- */

.infoMenu{
    position : absolute ; 
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
    height: 90vh;
    width: 90vw;
}

#INFO{
  display : none;
}

/* -----          ----- */
/* -----  BURGER  ----- */
/* -----          ----- */

.burgerMenu {
  width: 25px;
  height: 3px;
  background-color: #FEFEE2;
  margin-top: 5px;
  cursor: pointer;
}

#MENU {
  position : absolute;
  top : 0px;
  left : -100vw;
  height : 100vh;
  width : 100vw;
  transition: all 0.5s ease-out;
}

/* -----              ----- */
/* -----  devinette   ----- */
/* -----              ----- */
.topBar{
  height: 5vh;
}

.middleBar{
  height: 85vh;
}

.bottomBar{
  height: 10vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input{
  max-width: 100%;
  max-height: 100%;
}

/* -----              ----- */
/* ----- bouton close ----- */
/* -----              ----- */

.close-container{
    position: relative;
    margin-top: 1vh;
    width: 5vw;
    height: 5vh;
    cursor: pointer;
  }
  
  .leftright{
    height: 4px;
    width: 5vw;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 5vw;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }


  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
  }
  .close-container:hover label{
    opacity: 1;
  }


/* */
#canvas
{
    position: absolute;
    top:25%;
    width: 100%;
    border: 2px solid black;
    background: white;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #FEFEE2;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  /*display: none;*/
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-width);
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: var(--slider-width);
  height: var(--slider-width);
  border-radius: 50%;
  background: rgb(228, 241, 229);
  cursor: pointer;
}

/*#displayDrawSize{
  background:#000000;
  border-radius:50%;
  width: 10px;
  height: 10px;
  border: 1px solid #FEFEE2;
  float: right;
  margin-right: 5%;
}*/

/* -----                   ----- */
/* -----  MENU DEVINETTES  ----- */
/* -----                   ----- */

.transiPop {
  position : absolute ; 
  top: 0vh;
  bottom: 0vh;
  left: 0vw;
  right: 0vw;
  height: 100vh;
  width: 100vw;
}
.interrogation {
  font-size: 2000%;
  text-align: center;
  text-shadow: 0px 8px 5px black;
}

#TRANSI {
  position : absolute;
  top : 0px;
  left : -100vw;
  height : 100vh;
  width : 100vw;
  transition: all 0.5s ease-out;
}

/* -----           ----- */
/* -----  BOUTONS  ----- */
/* -----           ----- */

/* Boutons du menu principal */
.menuButton {
  font-size: 100%;
  background-color: #FEFEE2;
  box-shadow: 0px 8px 5px black;
  border-radius: 37px!important;
  line-height: 600%!important;
}
.menuButton:hover {
  color: royalblue;
}

/* Boutons de validation */
.validationButton {
  font-size: 100%;
  background-color: #FEFEE2;
  border-radius: 22px!important;
  line-height: 250%!important;
}

/* Boutons d'outils de dessin */
.drawToolsButton {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.drawToolsButton:hover {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
}

/* -----           ----- */
/* -----  Polices  ----- */
/* -----           ----- */

/* Polices du menu principal */
.menuText {
  color: #00144B;
  font-size: 380%;
  text-shadow: 0px 8px 5px grey;
}
.titleText {
  font-size: 500%;
  text-align: center;
  text-shadow: 0px 8px 5px black;
  border: 2px dotted #FEFEE2;
  border-radius: 42px;
}
.mT2 {
  font-size: 270%
}

/* Police du bouton valider */
.validationText {
  color: #00144B;
  font-size: 170%;
  text-shadow: 0px 2px 2px grey;
}

/* Police des boutons de retour au menu principal */
.goToMenuText {
  font-size: 200%;
}

/* Police du menu devinette */
.devTitleText {
  text-align: center;
  font-size: 150%;
  text-shadow: 0px 8px 5px black;
}
